# Core dependencies
setuptools>=65.5.0
wheel

# General libraries
absl-py==2.1.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
altair==5.2.0
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.8.0
appnope==0.1.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
astroid==2.15.4
asttokens==2.2.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==5.0.1
attrs==23.2.0

# Code formatting & linting
autopep8==2.3.2
flake8==6.1.0
flake8-polyfill==1.0.2
pycodestyle==2.12.1
pep8-naming==0.10.0

# AI/ML & scientific computing
numpy==1.26.3
pandas==2.1.4
scipy==1.10.1
scikit-learn==1.3.2
seaborn==0.12.2
matplotlib==3.8.2
tensorflow==2.15.0
torch==2.1.2
torchvision==0.16.2
opencv-python-headless==4.10.0.84  # Avoids GUI issues on Streamlit Cloud
pydantic==2.10.6

# Web frameworks & APIs
Flask==3.1.0
Flask-Cors==5.0.0
streamlit==1.31.1

# Cryptography & security
cryptography==44.0.1
pycparser==2.22

# System utilities
certifi==2024.2.2
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
decorator==5.1.1
filelock==3.16.1
idna==3.6
joblib==1.4.2
urllib3==2.2.0

# Cloud storage & auth
google-auth==2.27.0
google-auth-oauthlib==1.2.0

# Logging & debugging
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==3.2.1
loguru==0.7.2

# NLP & text processing
regex==2024.11.6
tiktoken==0.9.0

# Streamlit dependencies
validators==0.22.0
